---
import BlogListLayout from '../../layouts/BlogListLayout.astro';
import type { GetStaticPathsOptions, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Pages from '../../components/Pages.astro';
import BlogCard from '../../components/BlogCard.astro';

const title = 'Game Blog';
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  let collection = await getCollection('game');
  collection = collection.sort((a, b) => {
    return a.data.pubDate > b.data.pubDate ? -1 : 1;
  });

  return paginate(collection, { pageSize: 10 });
}

const { page } = Astro.props as {
  page: Page<CollectionEntry<'game'>>;
};
---

<BlogListLayout
  title={title}
  ogDesc='プレイしたゲームやクリアしたゲーム，ゲームに関する話を書きます'
>
  <h1 class='text-4xl font-semibold text-purple-400'>{title}</h1>
  <div>
    {
      page.data.map((data) => (
        <>
          <BlogCard href={`/game/${data.slug}`} frontmatter={data.data} />
        </>
      ))
    }
    <Pages prev={page.url.prev} next={page.url.next} />
  </div>
</BlogListLayout>
