---
import type { MarkdownLayoutProps } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '../util/utils';
import MainLayout from './MainLayout.astro';

const { frontmatter } = Astro.props as MarkdownLayoutProps<
  CollectionEntry<'tech'>['data'] | CollectionEntry<'game'>['data']
>;
const { title, pubDate, description } = frontmatter;
const d = formatDate(pubDate);
// prettier-ignore
const image = frontmatter?.image
  ? (new URL(frontmatter?.image, Astro.site ?? 'http://localhost:3000')).href
  : (new URL('/img/me.webp', Astro.site ?? 'http://localhost:3000',)).href;
---

<MainLayout pageTitle={title} ogDesc={description} ogImage={image}>
  <div class='mb-8 border-b-2 border-gray-400'>
    <h1 class='my-1 text-3xl font-bold text-gray-100'>
      {title}
    </h1>
    <div class='flex justify-end'>
      <div>{d}</div>
    </div>
  </div>
  <div class='blog'>
    <slot />
  </div>
</MainLayout>

<style is:global>
  .blog {
    @apply break-words text-gray-200;
  }

  .blog h1,
  .blog h2,
  .blog h3 {
    @apply mt-8 mb-4 font-bold text-gray-100;
    background: linear-gradient(transparent 85%, rgb(126, 132, 142) 85%);
  }
  .blog h4 {
    @apply mt-4 mb-2 font-bold;
  }
  .blog h1,
  .blog h2 {
    @apply py-1 text-2xl;
  }
  .blog h3 {
    @apply text-xl;
  }
  .blog h4 {
    @apply text-lg;
  }

  .blog ul,
  .blog ol {
    @apply pl-4;
  }
  .blog ul > li {
    list-style-type: square;
  }
  .blog ol > li {
    list-style-type: decimal;
  }

  .blog p {
    line-height: 1.5em;
    @apply my-2;
  }
  .blog a {
    @apply font-bold text-sky-400;
  }

  .blog pre {
    @apply m-2  rounded-md p-2;
  }
  .blog code:not(pre > *) {
    font-size: 0.9em;
    @apply mx-2 bg-slate-900 text-orange-400;
  }

  .blog table {
    margin: 0 auto;
    @apply block w-3/4 max-w-full table-auto border-collapse overflow-x-scroll break-all;
  }
  .blog th {
    @apply border-y border-gray-600 bg-gray-800 p-1 pl-8 text-left;
  }
  .blog tbody {
    @apply bg-slate-900;
  }
  .blog td {
    @apply border-b border-slate-600 p-2 pl-8 text-gray-300;
  }

  .blog blockquote {
    @apply border-l-4 border-gray-600 px-4 text-gray-400;
  }
  .blog strong {
    @apply font-bold;
  }
  .blog del {
    @apply text-gray-400;
  }

  .blog img {
    min-width: 300px;
    @apply mx-auto w-4/5 rounded-md;
  }
</style>
